body{
    margin: 0;
    font-family: "Cabin";

}
header{
    text-align: center;
    
}

.A{
    background-color: rgb(252, 80, 18);
    color: white;
    padding: 1px;
    background-size: 100px;
}

.D{
    background-color:rgb(252, 80, 18);
    padding: 20px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}

.misi ol{
    text-align: justify;
    border-radius: 10px;
}

p{
    text-align: justify;
}

.produk{
padding:20px;
}

.produk p{
    text-align: center;
}

.produk-container{
display:flex;
overflow-x:auto;
gap:15px;
scroll-snap-type:x mandatory;
}

.produk-item{
min-width:70%;
flex-shrink:0;
scroll-snap-align:start;
}

.produk-item img{
width: 100%;
height: 200px;
object-fit: cover;
border-radius:10px;
}

.hero-image{
    margin: 0;
width:100%;
height: 250px;

background-image:url("image/624218051_18111255220636749_5227866140009422222_n.jpg");
background-size: cover;
background-position:center;
background-repeat:no-repeat;
}


.footer {
background:#222;
color:white;
text-align:center;
padding:30px;
}

.footer p{
    text-align: center;
}

.social-icons{
margin-top:15px;
}

.social-icons a{
color:white;
font-size:28px;
margin:0 10px;
text-decoration:none;
}

.social-icons a:hover{
color:#f4a261;
}

@media (min-width: 768px){

.produk-item{
    min-width: 250px;
}

.hero-image{
    height: 300px;
}

}